.box {
    padding: 20px;
    /* background: linear-gradient(135deg, Beige, Seashell, #ffffff); */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* float: left; */
  }
  
  .cart-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    float: left;
  }
  
  .cart-item {
    background: linear-gradient(135deg, Beige, Seashell, #ffffff);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 7rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .imm {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .t1, .t2, .t3 {
    margin: 10px 0;
  }
  
  .t1 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .t2 {
    color: #333;
  }
  
  .t3 {
    color: #666;
  }
  
  .but {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .but:hover {
    background-color: #c0392b;
  }

 .hh1{
    margin-left: 35rem;
    color: #666;
    font-size: 4.5rem;
 }

 .imm:hover{
    width: 400px;
 }

 .svv{
    color: black;
    font-size: 6rem;
    font-weight: 1000;
    position: sticky;
    width: 400px;
 }

 .pp{
    font-size: 3rem;
    margin: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }