
.text-center {
    font-size: 2rem;
    color: black;
    font-family: sans-serif;
  }
  
  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .nav-item {
    list-style: none;
  }
  
  .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #6c757d;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: pink; /* Updated hover color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Corrected box-shadow */
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-muted {
    color: #6c757d;
  }
  
  .foot{
    background: linear-gradient(135deg,#FFFDD0,	#FCF5E5,white);
  }