.textts1{
    position: absolute;
    margin-top: -40rem;
    margin-left: 5rem;
    font-weight: 600;
    color: #ff3c78;
    font-family: italic;


}

.texttt2{
    margin-top: -39rem;
    margin-left: 4.5rem;
    font-size: 3rem;
    color: black;
}

.texttt3{
    margin-top: -1rem;
    margin-left: 5rem;
}

.pow{
    margin-left: 1rem;
}

.boww{
    background-color: black;
    color: white;
    padding: 0.4rem;
    margin-left: 6rem;
    margin-top: -0.5rem;
}